

.btn {
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px 1px rgb(158, 154, 154);
  border-radius: 0.5em;
  border: none;
  margin: 1em
  
}
.btn:hover {
  background: linear-gradient(-300deg, red 0%, orange 10%, yellow 30%, green 50%, aquamarine 70%, blue 90%, purple 100%);
}



